* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --white: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.hero {
  background-image: url(../images/course-hero.webp);
  background-position: center;
  background-size: cover;
  padding: 60px 0;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.hero h1 {
  font-size: 40px;
  color: var(--white);
  font-weight: bold;
}
.hero p {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}
.hero input {
  border: none;
  outline: none;
}
.hero .search-input {
  width: 300px;
  padding: 15px;
  border-radius: 6px;
}
.hero .submit-btn {
  width: 240px;
  padding: 12px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 8px;
}
