* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --gainsboro: #dbdbdb;
  --bleu-de-france: #2d8dd5;
  --bright-gray: #e5e7eb;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.hero {
  background-image: url(../images/hero.webp);
  background-size: cover;
  background-position: center;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: calc(100vh - 98px);
  padding-bottom: 50px;
}
.hero h1 {
  font-size: 45px;
  font-weight: 500;
}
.hero div {
  display: flex;
  gap: 40px;
}
.hero div a {
  display: block;
  width: 171px;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  border-radius: 50px;
}
.banner {
  padding-top: 75px;
}
.banner img {
  width: 100%;
  border-radius: 50px;
}
.features {
  padding: 75px 0;
}
.features .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.features .feature {
  width: 389px;
  padding: 54px 29px;
  background-color: var(--gainsboro);
  border-radius: 50px;
  text-align: center;
}
.features .feature span {
  display: block;
  margin: 24px 0;
}
.features .feature p {
  font-size: 15px;
}
.our-Learners {
  padding-bottom: 200px;
}
.our-Learners h2 {
  text-align: center;
  font-family: "Poppins", serif;
  font-size: 48px;
  font-weight: 400;
}
.our-Learners .company-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.our-Learners .company-list img {
  width: 251px;
}
footer .footer-navbar {
  padding: 75px 0;
}
footer .footer-navbar .container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
footer .footer-navbar h3 {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 18px;
}
footer .footer-navbar ul li a {
  display: block;
  padding: 7px 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
}
footer .subscrip p {
  margin-bottom: 20px;
  line-height: 1.6;
}
footer .subscrip .subscrip-form .email {
  padding: 20px;
  background-color: var(--bright-gray);
  border: none;
  outline: none;
}
footer .subscrip .subscrip-form .submit {
  width: 123px;
  padding: 20px;
  margin-left: 15px;
  color: var(--white);
  background-color: var(--bleu-de-france);
  border: 1px solid var(--black);
  outline: none;
  cursor: pointer;
  border-radius: 50px;
}
footer .copyright {
  padding: 20px 0;
}
footer .copyright .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .copyright p {
  font-size: 12px;
  font-weight: 300;
}
footer .copyright ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
